
/* Font Imports */

@font-face{
	
	src: url("fonts/Roboto-Light.ttf");
	
	font-family: roboto;
	
}

/* Id's */

#player1Box{
	
	bottom: 0px;
	
	left: 0px;
	
	background-image: linear-gradient(to bottom right, #aae0fa, #175377);
	
}

#player2Box{
	
	top: 0px;
	
	left: 0px;
	
	background-image: linear-gradient(to bottom right, #63afab, #a3c095);
	
}

#settingsButton{
	
	top: 50vh;
	
	left: 50vw;
	
	margin-left: -15px;
	
	margin-top: -15px;
	
	transition: 0.25s;
	
}

#playerDivider{
	
	position: absolute;
	
	height: 50px;
	
	width: 100vw;
	
	left: 0px;
	
	top: 50vh;
	
	margin-top: -25px;
	
	background: white;
	
}

#player1SettingsView{
	
	top: 25px;
	
}

#player2SettingsView{
	
	bottom: 25px;
	
}

/* Classes */

.box{
	
	position: absolute;
	
	width: 100vw;
	
	height: 50vh;
	
	color: white;
	
}

.box p{
	
	position: absolute;
	
	width: 100vw;
	
	top: 50%;
	
	margin-top: -25px;
	
	text-align: center;
	
	font-size: 50px
	
}

.box button{
	
	color: white;
	
	transition: 0.25s;
	
}

.box button:active{
	
	font-size: 50px;
	
}

.settingsView{
	
	position: absolute;
	
	width: 100vw;
	
	height: 60px;
	
	background: orange;
	
	display: none;
	
	background-image: linear-gradient(to right, #686868, #787878);
	
}

.upsideDown{
	
	transform: rotate(180deg);
	
}

.leftButton{
	
	position: absolute;
	
	left: 25vw;
	
	margin-left: -15px;
	
}

.leftButton:active{margin-left: -25px;}

.rightButton{
	
	position: absolute;
	
	right: 25vw;
	
	margin-right: -15px;
	
}

.rightButton:active{margin-right: -25px;}

.player1Button{
	
	bottom: 25vh;
	
	margin-bottom: -15px;
	
}

.player1Button:active{margin-bottom: -25px;}

.player2Button{
	
	top: 25vh;
	
	margin-top: -15px;
	
}

.player2Button:active{margin-top: -25px;}

/* Tags */

body{
	
	display: none;
	
	margin: 0;
	
	overflow: none;
	
}

button{
	
	position: absolute;
	
	font-size: 30px;
	
	background: rgb(0, 0, 0, 0);
	
	border: 0px solid black;
	
	padding: 0px;
	
}

button::-moz-focus-inner {
  
	border: 0;
  
}

/* Other */

*{
	
	font-family: roboto;
	
	outline: none;
	
}

/* Mobile view */

@media only screen and (max-width: 600px){

	/* Id's */
	
	/* Classes */
	
	/* Tags */
	
	/* Other */
	
}

